@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply transition-all duration-200;
  }
  article main a {
    @apply border-b-2 text-stone-800 border-stone-400 hover:text-stone-600 hover:border-stone-600 dark:text-stone-200 dark:hover:text-stone-400 dark:border-stone-600 dark:hover:border-stone-400;
  }
  article aside > blockquote,
  article aside > div,
  article aside > dl,
  article aside > figure,
  article aside > ol,
  article aside > p,
  article aside > pre,
  article aside > table,
  article aside > ul,
  article main > blockquote,
  article main > div,
  article main > dl,
  article main > figure,
  article main > ol,
  article main > p,
  article main > pre,
  article main > table,
  article main > ul {
    @apply mt-6;
  }
  article aside > blockquote:first-child,
  article aside > div:first-child,
  article aside > dl:first-child,
  article aside > figure:first-child,
  article aside > ol:first-child,
  article aside > p:first-child,
  article aside > pre:first-child,
  article aside > table:first-child,
  article aside > ul:first-child,
  article main > blockquote:first-child,
  article main > div:first-child,
  article main > dl:first-child,
  article main > figure:first-child,
  article main > ol:first-child,
  article main > p:first-child,
  article main > pre:first-child,
  article main > table:first-child,
  article main > ul:first-child {
    @apply mt-0;
  }
  article aside blockquote,
  article main blockquote {
    @apply ml-7 before:content-['“'] before:font-serif before:text-6xl before:absolute before:-ml-8 before:mt-[-0.25em] before:text-stone-400 before:dark:text-stone-600;
  }
  article aside blockquote cite,
  article main blockquote cite {
    @apply block mt-[1em] font-bold font-sans not-italic text-sm before:content-["–"] before:mr-1;
  }
  article aside blockquote p,
  article main blockquote p {
    @apply font-serif italic text-xl md:text-2xl md:leading-9;
  }
  article main h1 {
    @apply bg-red-500 text-white text-base; /* because it shouldn't happen */
  }
  article main ol li,
  article main ul li {
    @apply border-b border-dotted border-stone-400 dark:border-stone-600 py-1;
  }
  article main ol li:last-child,
  article main ul li:last-child {
    @apply border-b-0;
  }
  article main ol {
    @apply list-decimal list-inside;
  }
  article main ul {
    @apply list-disc list-inside;
  }
  body {
    @apply font-serif leading-7 bg-stone-300 text-stone-700 dark:bg-stone-700 dark:text-stone-300;
  }
  dt {
    @apply font-normal;
  }
  form input:not([type="submit"]),
  form select,
  form textarea {
    @apply font-sans text-sm font-normal rounded-none rounded-t md:rounded-l md:rounded-r-none py-2 px-2 shadow-inner border border-stone-400  dark:border-stone-500 bg-stone-200 dark:bg-stone-600 text-stone-700 dark:text-stone-300;
  }
  form button,
  form button.wp-block-button__link,
  form input[type="search"],
  form input[type="submit"] {
    @apply btn;
  }
  form label {
    @apply font-bold font-sans text-sm;
  }
  h1:not(.specific),
  h2:not(.specific),
  h3:not(.specific),
  h4:not(.specific),
  h5:not(.specific),
  h6:not(.specific) {
    @apply font-sans font-bold mt-[1em] mb-[0.25em] tracking-tight;
  }
  h1:not(.specific) a,
  h2:not(.specific) a,
  h3:not(.specific) a,
  h4:not(.specific) a,
  h5:not(.specific) a,
  h6:not(.specific) a {
    @apply font-bold border-0;
  }
  h1:not(.specific) {
    @apply text-4xl md:text-5xl mt-0;
  }
  h2:not(.specific) {
    @apply text-3xl;
  }
  h3:not(.specific) {
    @apply text-2xl;
  }
  h4:not(.specific) {
    @apply text-xl;
  }
  h5:not(.specific) {
    @apply text-lg;
  }
  h6:not(.specific) {
    @apply text-base;
  }
  input[type="search"] {
    -webkit-appearance: none;
  }
  pre {
    @apply overflow-x-auto font-mono font-normal bg-stone-950 text-stone-50 rounded p-4;
  }
}

@layer components {
  .btn {
    @apply inline-block transition-all duration-200 font-sans text-sm font-normal px-6 py-2 border rounded border-stone-400 bg-stone-200 hover:bg-stone-100 text-stone-800 hover:text-stone-900 dark:border-stone-500 dark:bg-stone-600 dark:hover:bg-stone-400 dark:text-stone-200 dark:hover:text-stone-200;
  }
  .btn-xs {
    @apply btn px-3 py-1 text-xs;
  }
  .chat,
  .post.post-chat main ul:first-of-type {
    @apply list-none rounded-lg bg-stone-400 dark:bg-stone-800 p-[1.5rem] sm:p-[3rem];
  }
  .chat li,
  .post.post-chat main ul:first-of-type li {
    @apply border-none even:text-right flex flex-col items-start even:items-end;
  }
  .chat li span,
  .post.post-chat main ul:first-of-type li span {
    @apply font-bold font-sans text-xs order-2 mx-2 mt-1;
  }
  .chat li q,
  .post.post-chat main ul:first-of-type li q {
    @apply inline-block level-1 rounded-lg p-4 font-normal font-serif italic text-lg order-1 w-10/12 before:hidden after:hidden;
  }
  .chat li:nth-child(odd) q,
  .post.post-chat main ul:first-of-type li:nth-child(odd) q {
    @apply rounded-bl-none;
  }
  .chat li:nth-child(even) q,
  .post.post-chat main ul:first-of-type li:nth-child(even) q {
    @apply rounded-br-none;
  }
  .container > *:not(.wide) {
    @apply narrow;
  }
  .container .wp-block-image,
  .container .wp-block-gallery,
  .container .wp-block-embed {
    @apply wide;
  }
  .level-1 {
    @apply bg-stone-200 dark:bg-stone-600;
  }
  .main-menu a {
    @apply inline-block border-b-2 text-stone-500 border-transparent hover:text-stone-800 hover:border-stone-400 dark:text-stone-400 dark:hover:text-stone-100 dark:hover:border-stone-400;
  }
  .main-menu .current-menu-item a {
    @apply border-stone-300 text-stone-800 dark:border-stone-500 dark:text-stone-100;
  }
  .narrow {
    @apply px-4 mx-[2rem] sm:mx-[6rem];
  }
  .post.post-abstract h2:not(.specific):not(.specific) {
    @apply md:text-4xl mt-0;
  }
  .post.post-abstract h2:not(.specific):not(.specific) a {
    @apply hover:text-stone-950 dark:hover:text-stone-50;
  }
  .post.post-quote main blockquote {
    @apply pl-6 before:content-['“'] before:text-8xl before:-ml-12 before:mt-[-0.15em];
  }
  .post.post-quote main blockquote p {
    @apply text-xl md:text-2xl;
  }
  .wide {
    @apply px-4 sm:mx-[3rem];
  }
}
